body {
    background-color: gray;
}

.nav_link_container{
    margin-right:14px;
    margin-top:19px;
    display: inline-block;
    float:right
}

.top_nav {
    color: white;
    font-size: 85%;
    width: 50px;
    float: right;
    text-align: center;
    display: inline-block;
    text-decoration:none;
    padding-bottom:10px;
}
.top_nav:hover{
    text-decoration:none;
    color:red;
    border-bottom: 8px solid darkred;
}

.page_title_header{
    font-size:175%;
    color: white;
    display: inline-block;
    margin-top:16px;
    margin-left: 36px;
    padding-bottom:5px;
}

.page_container{
    position:relative;
    background-color: black;
    width: 960px;
    height: 1185px;
    margin-left: 25%;
}

.image_holder{
    width:inherit;
    height:519px;
    background-image:url('gti_frontend.jpg');
    border-bottom: 8px solid darkred;
}

.background_img{
    height:519px;
    width:inherit;
    object-position:center;
    
}

.event_info{
    float:right;
    height:422px;
    width: 250px;
    display: inline-block;
    margin-left:50%;
    margin-bottom:50px;
    color:white;
    text-align:justify right;
    margin-right:45px;
    margin-top:44px;
}

.signup_button{
    width:250px;
    background-color: orange;
}

.signup_button:hover{
    background-color: brown;
}

.signup_button:active{
    background-color:gray
}

.event_photos{
    float:left;
    position:absolute;
    height:422px;
    width:500px;
    display: inline-block;
    margin-left:35px;
    margin-top: 55px;
    margin-bottom:50px;
    margin-right: 137px;
}
.small_pic{
    width:inherit;
    filter: grayscale(75%);
}

.footer{
    background-color:silver;
    width:inherit;
    height:97px;
    bottom:0;
    position:absolute;
}

.footer_text{
    color:black;
    text-decoration:none;
    margin-top: 48px;
    margin-left: 35px;
    display: inline-block;
}

.footer_text_link{
    color:inherit;
    text-decoration: inherit;
    display: inherit;
}

.social_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.icon_holder{
    margin-top: 35px;
    margin-right: 50px;
    float:right;
    display: inline-block;
    vertical-align:middle;
}

.overlay_title{
    color:black;
    background-color:darkgrey;
    opacity:.5;
    margin-left: 85px;
    font-size:50px;
    text-align:center;
}

.overlay_description{
    margin-left:85px;
    margin-top:50px;
}

.blueprint_button{
    font-size:25px;
    background-color: orange;
    border:hidden;
}

.blueprint_button:hover{
    background-color: brown;
}

.blueprint_button:active{
    background-color:gray
}